{% extends feincms_page.template.path|default:"base.html" %}

{% load feincms_tags feincms_page_tags i18n %}

{% block title %}{% trans "News" %} - {{ block.super }}{% endblock %}

{% block content %}

<article class="hentry">
    <header>
        <time class="veranstaltung_date" datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"j. F Y" }}</time>
        <h2 class="entry-title">{{ object }}</h2>
        <span class="small byline">
            {% for category in entry.categories.all %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
            {% endfor %}
            {% if entry.author.get_full_name %}
            <span class="author source-org vcard">
                {% trans 'by' %} <span class="fn">{{ entry.author.get_full_name }}</span> |
            </span>
            {% endif %}
            <time class="updated" datetime="{{ entry.last_changed|date:'c' }}"></time>
        </span>
    </header>
    <div class="entry-content">
        {% feincms_render_region object "main" request %}
    </div>
</article>

{% endblock %}
{% block sidebar %}
<div class="sidebar-nav">
   <ul class="archiv_nav">
    {% feincms_nav feincms_page level=3 depth=1 as sublevel %}
    {% for p in sublevel %}
        <li class="nav-li_blog">
            <a href="{{ p.get_absolute_url }}" class="{% if p|is_equal_or_parent_of:feincms_page %}current{% endif %}">
            {{ p.month }} {{ p.year|slice:"-2:" }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}