/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* FONTS
font-family:'Avenir LT W01 95 Black';
font-family:'Avenir LT W01 85 Heavy';
font-family:'AvenirLTW01-85HeavyObli';
font-family:'Avenir LT W01 35 Light';
font-family:'AvenirLTW01-95BlackObli';
*/

/* COLORS 

pink: #dc2892;
black: #000;
blue: #3e719d;
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}


/* helper classes */

.clear {
    clear:both;
}

.left { float: left; }
.right { float: right; }
.small { font-size: 10px }

.image.left {
    margin: 0 10px 10px 28px;
}

.image.right {
    margin: 0 28px 10px 10px;
}


/* main styles */

body {
    border-top: 5px solid #3e719d;
    padding: 0;
    margin: 0;
    font-family: 'Avenir LT W01 95 Black', Arial, Helvetica, sans-serif;
}

p { 
    font-family: 'Avenir LT W01 35 Light';
    color: #000;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Avenir LT W01 85 Heavy';
    color: #000000;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 20px;
    color: #3e719d;
}


/* header */

header {
    margin-top: 20px;
}

header nav {
    border-bottom: 1px dotted black;
}

header nav a {
    font-family: 'Avenir LT W01 85 Heavy';
    text-transform: uppercase;
    color: #3e719d;
    font-size: 16px;
    text-decoration: none;
}

header nav a:hover {
    font-family: 'Avenir LT W01 95 Black';
    color: #000;
}

header nav a.current {
    font-family: 'Avenir LT W01 95 Black';
    color: #dc2892;
}

header .nav-li:first {
    margin-left: 0px;
}

header .nav-li {
    margin-left: 20px;
}


/* maincontent */

#maincontent {
    
}

#sidebar p {
    font-family:'Avenir LT W01 35 Light';
    font-size: 16px;
}

#moodboard {
    display: block;
}

#veranstaltung {
    border-bottom: 1px dotted black;
}

#veranstaltung h1, h2 {
    text-transform: uppercase;
}
#veranstaltung img {
    height: 170px;
    width: 300px;
    margin-right: 10px;
    float: left;
}

.veranstaltung form {
    text-transform: uppercase;
}

.veranstaltung-form h3{
    text-transform: uppercase;
}

.veranstaltung-form input, select {
    -moz-box-shadow:    inset 0 0 3px #000;
   -webkit-box-shadow: inset 0 0 3px #000;
   box-shadow:         inset 0 0 3px #000;
}

.veranstaltung-form .submit {
    float: right;
}


/* footer */

footer {
	background-color: #000;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 10px;
}

footer p {
    color: #FFF;
    font-size: 12px;
}

footer h3 {
    color: #FFF;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: ;
}

/* Blog */

.entry-summary a {
    color: #dc2892;
}

.entry-summary a:hover{
    color: #000;
}