/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* FONTS
font-family:'Avenir LT W01 95 Black';
font-family:'Avenir LT W01 85 Heavy';
font-family:'AvenirLTW01-85HeavyObli';
font-family:'Avenir LT W01 35 Light';
font-family:'AvenirLTW01-95BlackObli';
*/

/* COLORS 

pink: #dc2892;
black: #000;
blue: #3e719d;
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}


/* helper classes */

.clear {
    clear:both;
}

.left { float: left; }
.right { float: right; }
.small { font-size: 10px }

.image.left {
    margin: 0 10px 10px 28px;
}

.image.right {
    margin: 0 28px 10px 10px;
}


/* main styles */

body {
    border-top: 5px solid #3e719d;
    padding: 0;
    margin: 0;
    font-family: 'Avenir LT W01 95 Black', Arial, Helvetica, sans-serif;
}

p { 
    font-family: 'Avenir LT W01 35 Light';
    color: #000;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Avenir LT W01 85 Heavy';
    color: #000000;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 20px;
    color: #3e719d;
    text-transform: uppercase;
}


/* header */

header {
    margin-top: 20px;
}

header nav a {
    font-family: 'Avenir LT W01 85 Heavy';
    text-transform: uppercase;
    color: #3e719d;
    font-size: 16px;
    text-decoration: none;
}

header nav a:hover {
    font-family: 'Avenir LT W01 95 Black';
    color: #000;
}

header nav a.current {
    font-family: 'Avenir LT W01 95 Black';
    color: #dc2892;
}

.nav-li:first-child {
    margin-left: 0px;
}

header .nav-li {
    margin-left: 20px;
    float: left;
}

/* maincontent */

.test {
    background-image: url(../img/design/punktelinie.png);
    background-repeat: repeat-x;
}

#sidebar p {
    font-family:'Avenir LT W01 35 Light';
    font-size: 16px;
}

#sidebar {
    /*border-bottom: 1px dotted black;*/
    /*background-image: url(../img/design/punktelinie.png);
    background-repeat: repeat-x;*/
}

#sidebar h3 {
    padding-top: 10px;
}

#moodboard {
    display: block;
}

#veranstaltung {
    background-image: url(../img/design/punktelinie.png);
    background-repeat: repeat-x;
    background-position: top;
    margin-top: 15px;
    padding: 15px 0px;
}

#veranstaltung h1, h2 {
    text-transform: uppercase;
    margin-top: 5px;
}
#veranstaltung img {
    height: 170px;
    width: 300px;
    margin-right: 10px;
    float: left;
}

.veranstaltung form {
    text-transform: uppercase;
}

.veranstaltung_date {
    font-family:'AvenirLTW01-85HeavyObli';
    font-size: 16px;
    color: #3e719d;
}

.veranstaltung-form label{
    text-transform: uppercase;
    font-family: 'Avenir LT W01 85 Heavy';
    font-size: 18px;
    color: #000;
}

.veranstaltung-form input {
    -moz-box-shadow:    inset 0 0 3px #000;
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow:         inset 0 0 3px #000;
}

.veranstaltung-form select {
    margin-bottom: 15px;
}
.veranstaltung-form .submit {
    float: right;
    border: none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    background-image: url(../img/design/arrow-mehr.png);
    background-repeat: no-repeat;
    background-color: #FFF;
    max-width: 130px;
    width: 100%;
    color: #dc2892;
    cursor: pointer;
    font-size: 18px;
    font-family:'AvenirLTW01-95BlackObli';
}

.veranstaltung-form .submit:hover{
    color: #000;
}

/* footer */

footer {
	background-color: #000;
    color: #FFF;
    padding-bottom: 10px;
}

.kontakt {
    margin-top: 15px;
    height: auto;
}

.info {
    margin-top: 15px;
    height: auto;
}

footer p {
    color: #FFF;
    font-size: 12px;
}

footer h3 {
    color: #FFF;
    margin-top: 15px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: ;
}

/* Blog */

.entry-content img {
    float: left;
    margin: 0 10px 5px 0;
}

.entry-summary a {
    font-family:'AvenirLTW01-95BlackObli';
    color: #dc2892;
    font-size: 18px;
}

.entry-summary a:hover{
    color: #000;
}

.pagination,
.pagination a {
    float: left;
    height: 50px;
}

.pagination a {
    margin: 15px 10px;
}

.pagination .mark {
    color: #dc2892;
}

.pagination .page_left {
    margin: 15px 10px;
    background: url(../img/design/arrow-lefts.png)0 0;
    background-repeat: no-repeat;
    height: 14px;
    width: 8px;
    display: block;
    float: left;
}

.pagination .page_left:hover {
    background: url(../img/design/arrow-lefts.png)0 -18px;
}

.pagination .page_left_fast {
    background: url(../img/design/arrow-left.png)0 0;
    background-repeat: no-repeat;
    height: 14px;
    width: 16px;
    display: block;
    float: left;
}

.pagination .page_left_fast:hover {
    background: url(../img/design/arrow-left.png)0 -18px;
}


.pagination .page_right {
    margin: 15px 10px;
    background: url(../img/design/arrow-rights.png)0 0;
    background-repeat: no-repeat;
    height: 14px;
    width: 8px;
    display: block;
    float: left;
}

.pagination .page_right:hover {
    background: url(../img/design/arrow-rights.png)0 -18px;
}
.pagination .page_right_fast {
    background: url(../img/design/arrow-right.png)0 0;
    background-repeat: no-repeat;
    height: 14px;
    width: 16px;
    display: block;
    float: left;
}

.pagination .page_right_fast:hover {
    background: url(../img/design/arrow-right.png)0 -18px;
}

.hentry_archive {
    background-image: url(../img/design/punktelinie.png);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 20px;
}

.side_date {
    font-family:'AvenirLTW01-85HeavyObli';
    font-size: 14px;
    color: #3e719d;
}

.sidebar-nav a{
    font-family:'Avenir LT W01 85 Heavy';
    font-size: 18px;
}

.sidebar-nav a:hover {
    font-family:'Avenir LT W01 95 Black';
    color: #000;
}

.sidebar-nav a.current{
    font-family:'Avenir LT W01 95 Black';
    color: #dc2892;
}

/* NAV */

#nav-wrap {
    width: 100%;
}

.navigation {
    background-image: url(../img/design/punktelinie.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.nav-li {
    line-height: 40px;
}

.subnav-li {
    line-height: 40px;
}

.flexslider img {
    height: auto;
    width: auto;
    max-width: 980px;
    max-height: 340px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 35px;
    }

    #menu-icon{
        position: relative;
        bottom: 10px;
        right: 15px;
        color: #000;
        width: 62px;
        height: 54px;
        cursor: pointer;
        display: block;
        float: right;
        background-image: url(../img/design/menu-icon.png);
        background-repeat: repeat-x;
    }

    .nav {
        display: none;
    }

    .nav-mobile {
        width: 100%;
    }

    header .nav-li {
        background-image: url(../img/design/punktelinie.png);
        background-repeat: repeat-x;
        background-position: top;
        float: none;
        width: 100%;
        margin-left: 0px;
        display: block;
        line-height: 35px;
    }

    header .nav-li a{
        margin-left: 15px;

    }

    .subnav-li {
        background-image: url(../img/design/punktelinie.png);
        background-repeat: repeat-x;
        background-position: top;
        padding-left: 40px;
        line-height: 35px;
    }

    .navigation {
        background: none;
    }
}