{% load i18n feincms_tags feincms_page_tags %}
{% load url from future %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow,noodp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta property="og:title" content="{% block og-title %}{{ feincms_page.page_title }}{% endblock %}">
    <meta property="og:type" content="{% block og-type %}website{% endblock %}">
    <meta property="og:url" content="http://{{ request.get_host }}{{ request.get_full_path }}">
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">
    {% block extra-og-tags %}{% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
   <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/41518cde-dd45-418f-b869-51abe0d07629.css"/>

    <title>{% block title %}{{ feincms_page.page_title }}{% endblock %}</title>
    {% block extra-head %}{% endblock %}
</head>

<body>
    <div class="row">
        <header>
                <img src="{{ STATIC_URL }}img/design/fobbiz-logo.png">
                <nav class="large-12 columns">
                    <div class="nav-bar left">
                       <ul class="button-group">
                        {% feincms_nav feincms_page level=1 depth=1 as toplevel %}
                        {% for p in toplevel %}
                            <li class="nav-li">
                                <a href="{{ p.get_absolute_url }}" class="{% if p|is_equal_or_parent_of:feincms_page %}current{% endif %}">
                                {{ p.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <ul class="button-group">
                        {% feincms_nav feincms_page level=2 depth=1 as sublevel %}
                        {% for p in sublevel %}
                            <li class="nav-li">
                                <a href="{{ p.get_absolute_url }}" class="{% if p|is_equal_or_parent_of:feincms_page %}current{% endif %}">
                                {{ p.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                      </div>
                </nav>
        </header>
    </div>
        {% block moodboard %}
            {% feincms_render_region feincms_page 'moodboard' request %}
        {% endblock %}
    <div class="row">
        <div id="maincontent" class="large-8 columns">
            {% block content %}
                {% feincms_render_region feincms_page 'main' request %}
            {% endblock %}
        </div>
        <div id="sidebar" class="large-4 columns">
            <h3>Aktuell</h3>
            {% block sidebar %}
                {% feincms_render_region feincms_page 'sidebar' request %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="row">
            <div class="large-8 columns">
                <p>schweizer Forum für Berufsbildung und Internationale Zusammenarbeit</p>
                <p>Forum Suisse pour la Formation Professionelle et la Cooperation Internationale</p>
                <p>Swiss Forum for Skills Development and International Cooperation</p>
            </div>

            <div class="large-4 columns">
                <h3>KONTAKT</h3>
                <p>Kontaktadresse | PLZ | Ort</p>
                <a href="mailto:kontakt@fobbiz.ch">kontakt@fobbiz.ch</a>
            </div>
        </div>
    </footer>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ GA_CODE }}']);
      _gaq.push(['_trackPageview']);

      {% block gaq %}{% endblock %}

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider.js"></script>
    <script>
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
    </script>
    {{ feincms_page.content.media }}
    {% block javascript %}{% endblock %}
</body>
</html>