{% load i18n feincms_tags feincms_page_tags mptt_tags %}

<div id="veranstaltung">
{% if veranstaltung.plaetze == 0 %}
	<p>Leider ausgebucht</p>
{% else %}
	<h2>Am Event Teilnehmen</h2>
	<p>Hast du Lust auf diesen Event, melde dich hier an!</p>
</div>

	<div class="veranstaltung-form">
		<form method="post" enctype="multipart/form-data">
			<fieldset>
				{% for field in form %}
				{% if forloop.counter == 6 %}
				<div class="row">
				    <div class="small-3 columns">
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="small-3 columns">
						{{ field.errors }}
			            {{ field }}
		           	</div>
				
				{% elif forloop.counter == 7 %}
				    <div class="small-2 columns">
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="small-4 columns">
						{{ field.errors }}
			            {{ field }}
		           	</div>
	           	</div>
				{% else %}
				<div class="row">
				    <div class="small-3 columns">
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="small-9 columns">
			            {{ field.errors }}
			            {{ field }}
		           	</div>
				</div>
				{% endif %}
				{% endfor %}

				{% csrf_token %}
				{{ csrf_token }}
				<input type="hidden" name="slug" value="{{ veranstaltung.slug }}">
				<input type="submit" value="Anmelden" class="submit">

			</fieldset>
		</form>
	</div>
{% endif %}