	<h2>Am Event Teilnehmen</h2>
	<p>Hast du Lust auf diesen Event, melde dich hier an!</p>

<div class="veranstaltung-form">
	<div class="row">
		<form action="" method="post">
			<fieldset>
				{% for field in form %}
				{% if forloop.counter == 5 %}
				<div class="row">
				    <div class="large-3 columns">
						{{ field.errors }}
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="large-3 columns">
			            {{ field }}
		           	</div>
				
				{% elif forloop.counter == 6 %}
				    <div class="large-3 columns">
						{{ field.errors }}
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="large-3 columns">
			            {{ field }}
		           	</div>
	           	</div>
				{% else %}
				<div class="row">
				    <div class="large-3 columns">
						{{ field.errors }}
			            <h3>{{ field.label_tag }}</h3>
				    </div>
			    	<div class="large-9 columns">
			            {{ field }}
		           	</div>
				</div>
				{% endif %}
				{% endfor %}
				{% csrf_token %}
				<input type="submit" value="Anmelden" class="submit" />
			</fieldset>
		</form>
	</div>
</div>